vars.txt
ob3_nopl.bin
intcode.txt
check.txt
parse_text.txt
translated.opl
cond_fixup.txt
output.txt
shunting.txt
.tr
*.out.test
exec_db.txt
db.txt
check.txt
expressions.txt
newopl_exec
ob3_nopl.bin
obj.txt
parse_text.txt
qcode_data.txt
shunting.txt
translated.opl
core*
TESTFILE
abc
num_info.txt
